<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!--encabezado-->
  <header>
  <div class="header-flex">

      
      <img class="logo" width="30%" src="/img/logo-mercado-liebre.svg" class="logo">

  
      <form class="flex-form" action="/buscador" method="GET">
      <div class="buscar">
      <input class="buscar1" type="text" placeholder="Buscar productos, marcas"><button class="boton"><i class="fa-solid fa-magnifying-glass"></i></button>
      
      </form>

    </div>
  
      <h2 class="site">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        compra en cuotas y targeta de credito
      </h2>
    </div>

    <nav class="nav">
          <ul class="nav-izq">
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tienda-oficiales">Tiendas oficiales </a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/ayuda"> Ayuda</a></li>
          </ul>
          <ul class="nav-der">
            <li><a href="/crea-tu-cuenta">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="/ingresa">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/mis-compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>   
  
    </nav>        
    <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
          </a>
    <!--burger menu-->
 
  </header>
  <main class="fondo-gris"><!--articulos-->

    <div>
      <img class="carrusel" src="/img/carrusel.jpg" alt="carrusel">
    </div>

    <div class="titulares">Basado en tu última visita</div>
    
    <section class="flex-container"> 
       
      <!--Caetera-->
    
  
      <article class="articulo1">
        <img class="imagenes" src="/img/cafetera.jpg" alt="cafetera">
        <div><i class="fa-solid fa-truck"></i></div>
        
        <div class="des-flex">
          <div class="precios">$6.770</div>
          <div class="descuento">40% OFF</div>
        </div>
        <strong class="nombre-articulo">cafetera Moulinex</strong>
      </article>
      
      <!--macbook-->
      <article class="articulo2">
        <img class="imagenes" src="/img/macbook.jpg" alt="macbook">
        <div><i class="fa-solid fa-truck"></i></div>
        
        <div class="des-flex">
          <div class="precios">$230.000</div>
          <div class="descuento">20%OFF</div> 
        </div>
        <strong class="nombre-articulo">MacBook Pro 2019</strong>
      </article>
    
      <!--samsung-->
      <article class="articulo3">
        <img class="imagenes" src="/img/samsung.jpg" alt="samsung">
        <div><i class="fa-solid fa-truck"></i></div>
        <div class="des-flex">
          <div class="precios">$70.500</div>
          <div class="descuento">10%OFF</div>
        </div>
        <strong class="nombre-articulo">Samsung Galaxy S10</strong>
      </article>
      <!--smart tv-->
      <article class="articulo4">
        <img class="imagenes" src="/img/smart-tv.jpg" alt="smart tv">
         <div><i class="fa-solid fa-truck"></i></div>
         <div class="des-flex">
          <div class="precios">$23.200</div>
          <div class="descuento">5%OFF</div>
        </div>
        <strong class="nombre-articulo">SmartTv Samsung 43"</strong>
      </article>
    
    </section>
  </main>
 <br>
 <footer><!--footer-->
  <div class="foter">
    <div><i class="fa-solid fa-credit-card"></i></div>
    <strong>Pagá con tarjeta o en efectivo</strong>
    <div>Con Mercado Liebre Cash, tenés cuotas sin</div>
    <div>interés con tarjeta o efectivo en</div>
    <div>de pago. ¡Y siempre es seguro!</div> 
  </div>

  <div class="foter">
    <div><i class="fa-solid fa-gift"></i></div>
    <strong>Envío gratis desde $ 2.500</strong>
    <div>Solo por estar registrad@ en Mercado Liebre</div>
    <div>tenés envíos gratis en miles de productos. Es</div> 
    <div>un beneficio de Mercado Puntos.</div>
  </div>
  
  <div class="foter">
    <div><i class="fa-solid fa-user-shield"></i></div>
    <strong>Seguridad, de principio a fin</strong> 
    <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</div>
    <div>no hay nada que no puedas hacer,</div>
    <div>porque estás siempre protegid@.</div>
   </div> 
  
</footer>
<br>
<strong class="copyri">Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
</body>
</html>