<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIs Compras</title>
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-flex">
      
            
            <img class="logo" width="30%" src="/img/logo-mercado-liebre.svg" class="logo">
      
        
            <form class="flex-form" action="/buscador" method="GET">
            <div class="buscar">
            <input class="buscar1" type="text" placeholder="Buscar productos, marcas"><button class="boton"><i class="fa-solid fa-magnifying-glass"></i></button>
            
            </form>
      
          </div>
        
            <h2 class="site">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              compra en cuotas y targeta de credito
            </h2>
          </div>
      
          <nav class="nav">
                <ul class="nav-izq">
                  <li><a href="/ofertas">Ofertas</a></li>
                  <li><a href="/tienda-oficiales">Tiendas oficiales </a></li>
                  <li><a href="/vender">Vender</a></li>
                  <li><a href="/ayuda"> Ayuda</a></li>
                </ul>
                <ul class="nav-der">
                  <li><a href="/crea-tu-cuenta">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                  <li><a href="/ingresa">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                  <li><a href="/mis-compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>   
        
          </nav> 
          </header>

          <h2> BIENVENIDOS A MIS COMPRAS</h2>
</body>
</html> 