*{
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/*encabezado*/

header{
    font-size: 12px;
    background-color: var(--amarillo);
    padding: 10px;
}

.logo{
    flex-wrap: 0.30;
}

.site{
    text-align: center;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.nav{
    display: none;
}

.nav a{
    text-decoration: none;
    padding: 5px;
    color: #222222;
    font-weight: 400;
    display: inline-block;
}


.burger-menu{
    background-color: var(--Azul);
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

/*main*/

main{
    background: var(--Gris-claro);
}

.form-flex{
    display: flex;
    flex-direction: column;
    
}

.control-formulario{
    margin-bottom: 10px;
    padding: 10px;
}

.control-formulario label{
    display: block;
    margin-bottom: 5px;
    font-size: 80%;
    font-weight: bold;
}

.control{
    width: 100%;
    height: 7vw;
    border-radius: 10px;
    color: #03264C;
}

.label{
    display: flex;
}

.label label{
    margin-right: 10px;
    font-weight: lighter;
}

.label2 label{
    font-weight: lighter;
}

.boton{
    display: flex;
    justify-content: flex-start;
}

.boton button{
    border: solid 1px var(--Celeste);
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--Celeste);
    color: white;
    width: 100%;
    height: 3vh;
    border-radius: 8px;
    font-size: 100%;
    transition: all 0.3s;
}

.boton button:hover{
    background-color: #0022AA;
}

input:focus{
    outline: none;
}

/*footer*/

footer{
    text-align: center;

}

/*iconos del footer*/

.fa-credit-card{
    color: var(--Celeste);
}

.fa-gift {
    color: var(--Celeste);
}

.fa-user-shield{
    color: var(--Celeste);
}

.copyri {
    color: var(--Gris-oscuro);
}












@media(min-width:361px){
    
    .header-flex{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 20%;
    }



    .site{
        align-self: center;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }

    .nav ul{
        display: flex;
    }

    .burger-menu{
        display: none;
    }

    .form-flex{
        margin: 0 10%;
    }


    .control{
        height: 5vw;
    }

    footer{
        display: flex;
        justify-content: center;
    }

    .foter{
        text-align: center;
    }

 
}

/*deskot*/

@media (min-width:769px){
    .burger-menu{
        display: none;
    }

    .form-flex{
        margin: 0 30%;
    }


    .control{
        height: 3vw;
    }
}
